#welcome
    .row
        .col-sm-12
            %h1.display-3 Welcome to Flix4Me!
    .row
        .col-sm-6.offset-sm-3
            %p.lead 
                Keep track of your favorite movies.
            %p.lead 
                Whether you are a cinephile, couch potato, or somewhere in between, Flix4Me is the app for you!
