<br>
<form>
    <div class="form-group row">
        <div class="col-xs-6">
            <input type="text" class="form-control" id="title" placeholder="Title">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-6">
            <input type="text" class="form-control" id="year" placeholder="Year (YYYY)">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-6">
            <label for="plot" class="col-xs-2 col-form-label">Plot: </label>
            <textarea name="plot" id="plot" rows="8" cols="40"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-6">
            <input type="text" class="form-control" id="genre" placeholder="Genre">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-6">
            <select class="form-control custom-select" id="genre">
            </select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-6">
            <button type="submit" class="btn btn-primary">Add Movie</button>
        </div>
    </div>
</form>
