<br>
<form>
    <div class="form-group-row">
        <input class="form-control" ng-model="$ctrl.searchTerm" ng-change="$ctrl.refilter()" placeholder="Search by Title or Genre (e.g., Interstellar or Science Fiction)">
    </div>
</form>

<br>

<table class="table table-hover">
    <thead class="thead-default">
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="movie in $ctrl.movies">
            <td>{{ movie.title }}</td>
            <td>{{ movie.year }}</td>
            <td>{{ movie.genre }}</td>
        </tr>
    </tbody>
</table>
