<div class="col-xs-6">
    <h1 class="display-3">Edit Movie</h1>
    <form name="form" ng-submit="moviesShowCtrl.updateMovie()">
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Title" name="title" ng-model="moviesCtrl.movie.title" minlength="2" required="required"></input>
        </div>
        <div class="form-group">
            <input type="number" class="form-control" id="year" placeholder="Year (YYYY)" ng-model="moviesCtrl.movie.year"></textarea>
        </div>
        <div class="form-group">
            <textarea ng-model="moviesCtrl.movie.plot" class="form-control " name="plot" id="plot" rows="8" placeholder="Plot"></textarea>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="year" placeholder="Genre" ng-model="moviesCtrl.movie.genre"></textarea>
        </div>
        <div class="form-group">
            <input ng-model="moviesCtrl.movie.rating" type="number" class="form-control" id="number" placeholder="My Rating (1-lowest, 10-highest)">
        </div>
        <input class="btn btn-primary btn-lg" type="submit" value="Edit Movie">        
    </form>
</div>
