%h1.display-3#movies My Movies
.row
    .form-group.col-sm-8.offset-sm-2
        %input.form-control{"ng-model" => "moviesCtrl.search", "ng-change" => "moviesCtrl.refilter()", :placeholder => "Search (e.g., Star Wars, Comedy, 2014)"}
    .form-group.col-sm-8.offset-sm-2
        %select.form-control{"ng-model" => "moviesCtrl.searchGenre", "ng-change" => "moviesCtrl.refilter()", "ng-options" => "movie.genre as movie.genre for movie in moviesCtrl.movies | unique: 'genre'"}
            %option{:value => ""} Filter by Genre:
    %br/   
    .row
    .form-group.col-sm-6.offset-sm-3#reset
        %a{:href => "", "ng-click" => "moviesCtrl.resetMovies()"}
            %button.btn.btn-flix{:type => "button"} Reset Movies
%br/
%table.table
    %thead.thead-default
        %tr
            %th Title
            %th Year
            %th Genre
            %th Views
    %tbody
        %tr{"ng-repeat" => "movie in moviesCtrl.filteredList track by movie.id"}
            %td 
                %a.movie-link{:href =>"", "ui-sref" => "home.show({ movieId: movie.id })"} {{ movie.title }}
            %td {{ movie.year }}
            %td {{ movie.genre }}
            %td 
                %button.btn.btn-view.btn-sm{"ng-click" => "moviesCtrl.addView(movie)"}
                    <i.fa fa-check-square-o"></i>
                {{ movie.upvotes }}

