<h1 class="display-3">My Movies</h1>

<div class="form-group col-xs-6">
    <input class="form-control" ng-model="moviesCtrl.search" ng-change="moviesCtrl.refilter()" placeholder="Search by title or genre (e.g., Star Wars or Comedy)">
</div>
<!-- <div class="form-group col-xs-6">
    <select class="form-control" ng-controller="MoviesController as moviesCtrl" ng-model="moviesCtrl.searchGenre" ng-change="moviesCtrl.refilter()" ng-options="movie.genre as movie.genre for movie in moviesCtrl.movies track by movie.id">
        <option value="">Filter by Genre:</option>
    </select>
</div> -->

<table class="table table-hover">
    <thead class="thead-default">
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="movie in moviesCtrl.filteredList track by movie.id">
            <td><a href="" ui-sref="home.show({ movieId: movie.id })">{{ movie.title }}</a></td>
            <td>{{ movie.year }}</td>
            <td>{{ movie.genre }}</td>
        </tr>
    </tbody>
</table>
