<div class="col-xs-6">
    <div class="card text-xs-center">
        <br>
        <img class="card-img-top img-fluid" src="http://placehold.it/358x500.jpg" alt="Card image">

      <div class="card-block">
        <h4 class="card-title">{{ moviesShowCtrl.movie.title }}</h4>
        <h6 class="card-subtitle text-muted">{{ moviesShowCtrl.movie.year }} | {{ moviesShowCtrl.movie.genre }}</h6>
      </div>
      <div class="card-block">
        <p class="card-text">{{ moviesShowCtrl.movie.plot }}</p>
        <a href="" ui-sref="home.edit({ movieId: moviesShowCtrl.movie.id })"><button type="button" class="btn btn-edit">Edit Movie</button></a>
        <a href="" ng-click="moviesShowCtrl.destroyMovie(moviesShowCtrl.movie.id)"><button type="button" class="btn btn-danger">Delete Movie</button></a>
      </div>
      <div class="card-footer text-muted">
         My Rating: {{ moviesShowCtrl.movie.rating }}
      </div>
    </div>
</div>

<div class="col-xs-6">
    <div class="card">
        <div class="card-block" id="comments">
            <comments></comments>
            <br>
            <h3 class="card-title">Comments</h3>
                <ul class="list-group list-group-flush" ng-repeat="comment in moviesShowCtrl.movie.comments">
                    <li class="list-group-item">{{ comment.content }}</li>
        </div>
    </div>
</div><!-- comments -->
