/*
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    // background: url("background/theater.jpg") no-repeat center center fixed;
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // background-size: cover;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
}

.table {
    font-family: 'Roboto', sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #34495e;
    color: #ecf0f1;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.footer:hover {
    color: #16a085;
}

.navbar {
    font-family: 'Lato', sans-serif;
}

.fa-bars {
    color: #ecf0f1;
}

.navbar-flix {
    background: #34495e;
	filter: none !important;
	box-shadow: 0 2px 15px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 2px 15px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 2px 15px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

a.navbar-brand {
    color: #ecf0f1;
}

.navbar-flix li a {
    background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #ecf0f1;
	padding-top: 15px;
	padding-bottom: 15px;
	font-weight: 600;
}

.navbar-flix li a:hover {
    color: #16a085;
}

.navbar-flix li span {
    color: #ecf0f1;
}

.navbar-flix li span:hover {
    color: #16a085;
}

a:hover {
    color: #16a085;
}

.form-control {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.btn {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}
