/*
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: url("background/theater_3.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    color: #fff
}

p {
    font-family: 'Lato', sans-serif;
}

.table {
    font-family: 'Roboto', sans-serif;
    background: #fff;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #34495e;
    color: #ecf0f1;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    text-align: center;
}

.footer:hover {
    color: #16a085;
}

.navbar {
    font-family: 'Lato', sans-serif;
}

.fa-bars {
    color: #ecf0f1;
}

.social-btn {
    background-color: white;
	border-radius: 3.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 2.0rem;
	height: 3.6rem;
	line-height: 3.6rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 3.6rem;
}

.social-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}

.social-button:hover span {
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 3.6rem;
	margin: -1.8rem;
}

.fa-twitter span {
	background-color: #4099ff;
}

.navbar-flix {
    background: #34495e;
	filter: none !important;
	box-shadow: 0 2px 15px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 2px 15px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 2px 15px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

a.navbar-brand {
    color: #ecf0f1;
}

a.navbar-brand:hover {
    color: #16a085;
}

.navbar-flix li a {
    background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #ecf0f1;
	padding-top: 15px;
	padding-bottom: 15px;
	font-weight: 600;
}

.navbar-flix li a:hover {
    color: #16a085;
}

.navbar-flix li span {
    color: #ecf0f1;
}

.navbar-flix li span:hover {
    color: #16a085;
}

table a:hover {
    color: #16a085;
}

.form-control {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.btn {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.btn-flix {
    background-color: #16a085;
    color: #ecf0f1;
}

.btn-edit {
    background-color: #9b59b6;
    color: #ecf0f1;
}

.movie-link {
    color: black;
    text-decoration: none;
}

#about {
    color: #fff;
    text-align: center;
}

#reset {
    text-align: center;
}

#show-edit {
    color: #fff;
}

.card-title {
    color: black;
}

.card-text {
    color: black;
}
