/*
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: image-url("background/theater.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    // -o-background-size: cover;
    background-size: cover;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    color: #fff
}

p {
    font-family: 'Lato', sans-serif;
}

.table {
    font-family: 'Roboto', sans-serif;
    background: #fff;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #34495e;
    color: #ecf0f1;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    text-align: center;
}

.footer p:hover {
    color: #16a085;
}

.navbar {
    font-family: 'Lato', sans-serif;
}

.fa-bars {
    color: #ecf0f1;
}

.fa-3x {
    color: #fff;
}

#ng-message {
    color: #fff;
}

#auth {
    color: #fff;
}

#auth a {
    color: inherit;
    text-decoration: none;
}

#auth a:hover{
    color: #16a085;
}

#about i {
    transition: all 0.2s ease-in-out;
}

#about i.fa-linkedin:hover {
    opacity: .9;
    color: #1B85BC;
}

#about i.fa-twitter:hover {
    opacity: .9;
    color: #1DA1F2;
}

#about i.fa-medium:hover {
    opacity: .9;
    color: #00AB6B;
}

#about i.fa-github:hover {
    opacity: .9;
    color: #000;
}

.navbar-flix {
    background: #34495e;
	filter: none !important;
	box-shadow: 0 2px 15px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 2px 15px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 2px 15px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.2);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030
}

button.navbar-toggler {
    color: #ecf0f1;
}

a:hover {
    color: #16a085;
    text-decoration: none;
}

.form-control {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.btn {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.btn-flix {
    background-color: #16a085;
    color: #ecf0f1;
}

.btn-edit {
    background-color: #9b59b6;
    color: #ecf0f1;
}

.movie-link {
    color: black;
    text-decoration: none;
}

#welcome {
    color: #fff;
}

#welcome h1 {
    color: #fff;
    text-align: center;
}

#welcome p {
    color: #fff;
}

#welcome p.lead {
    color: #fff;
    text-align: center;
}

#welcome img {
    display: block;
    margin: auto;
    width: 40%;
}

#popular p.lead {
    color: #fff;
}

#about {
    color: #fff;
}

#about h1 {
    color: #fff;
    text-align: center;
}

#reset {
    text-align: center;
}

#show-edit {
    color: #fff;
}

.card-title {
    color: black;
}

.card-text {
    color: black;
}

.btn-view {
    color: #34495e;
    background: #fff;
}

small {
    color: #16a085;
    font-weight: bold;
}

p a {
    color: #fff;
}
