.form-group.row
    .col-xs-6
        %h1.display-4 Login
        %form{"ng-submit" => "authCtrl.login()"}
            .form-group
                %input.form-control{:type => "email", :placeholder => "Email", "ng-model" => "authCtrl.user.email"}
            .form-group
                %input.form-control{:type => "password", :placeholder =>"Password", "ng-model" => "authCtrl.user.password"}
            .form-group
                %input.btn.btn-flix{:type => "submit", :value => "Login"}
        %p#auth.lead 
            Don't have an account? 
            %a{:href => "", "ui-sref" => "home.register"} Click here to register.
