#about
  .row
    .col-sm-12
      %h1.display-3 About
      %p.lead
        Michael is a full stack web developer, and recent graduate from 
        = succeed "." do 
          %a{:href => "https://flatironschool.com/programs/online-web-developer-career-course/", :target => "_blank"} Flatiron School 
        Flix4Me demonstrates his ability to build a single page application (SPA) utilizing an AngularJS front-end and a Rails API back-end all wrapped together with a custom CSS.%/p>
      %p.lead 
        Connect with Michael: on Twitter, LinkedIn, or Github, send him an email to work with him, and check out his blog on Medium!
  .row
    .col-sm-6.offset-sm-3
      %ul.nav.justify-content-center
        %li.nav-item
          %a.nav-link{:href => "https://twitter.com/michaelcasciato", :target => "_blank"}
            %i.fa.fa-twitter.fa-3x
        %li.nav-item
          %a.nav-link{:href => "https://www.linkedin.com/in/michaelcasciato", :target => "_blank"}
            %i.fa.fa-linkedin.fa-3x
        %li.nav-item
          %a.nav-link{:href => "https://github.com/mcasciato", :target => "_blank"}
            %i.fa.fa-github.fa-3x
        %li.nav-item
          %a.nav-link{:href => "https://medium.com/@mcasciato/", :target => "_blank"}
            %i.fa.fa-medium.fa-3x
        %li.nav-item
          %a.nav-link{:href => "mailto:casciatom@gmail.com"}
            %i.fa.fa-envelope.fa-3x

