<!DOCTYPE html>
<html ng-app="flix4me">
  <head>
    <title>Flix4Me</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Lato:300|Roboto" rel="stylesheet">
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
      <div ng-include="'home/home.navbar.html'"></div>

    <%= yield %>

    <footer class="footer">
        <div class="container">
            <div class="col-xs-2">
                <img src="https://www.themoviedb.org/assets/9b3f9c24d9fd5f297ae433eb33d93514/images/v4/logos/408x161-powered-by-rectangle-green.png" alt="TMDB Logo" class="img-fluid">
            </div>
            <div class="col-xs-6 offset-xs-1">
                <p>Copyright &copy; 2016, Michael Casciato</p>
            </div>
        </div>
    </footer>
  </body>
</html>
